/* CSS for alliancen.se */

/* ********** Definitions ********** */

@font-face {
    font-family: 'English Towne';
    src: url('fonts/englishtowne-webfont.woff') format('woff'),
         url('fonts/englishtowne-webfont.ttf') format('truetype'),
         url('fonts/englishtowne-webfont.svg#EnglishTowneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400i&subset=latin-ext';


html {
  --color: rgb(116,54,140);
  --accent: rgb(253,191,45);
  --light: rgb(249,249,249);
  --dark: rgb(5,5,5);
  --link: var(--color);
}

/* ********** Basic ********** */
html {
  color: var(--dark);
  background-color: var(   --light);
  font-family:
  'Fira Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--accent);
}

/* ********** Nav ********** */
nav {
  padding: .3rem 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--color);
}

nav > a {
  font-size: 1rem;
  font-weight: 300;
  color: var(--accent);
  /* display: flex; */
  /* padding: 1rem; */
  /* flex-direction: row; */
  /* flex-grow: 3; */
}

.active {
  text-decoration: none;
}

/* ********** Headers ********** */
h1, h2, h3, h4 {
  font-family: 'English Towne', serif;
  font-weight: 500;
  margin: 2rem 1rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 2.5rem;
  margin-top: 2.2rem;
  margin-bottom: 0.5rem;
}

h2 + p {
  margin-top: 0.5em;
}

h3 + p {
  margin-top: 0rem;
}

/* ********** Content ********** */
p {
  margin: 1.5rem 0 1.5rem 0;
  padding: 0rem 1rem .5rem 1rem;
  text-align: justify;
  /* text-indent: -2px; */
}

p.firstp:first-letter {
  font-family: "English towne";
  font-size: 4rem;
  float: left;
  line-height: 0.7em;
  margin: 0 0.1em 0 0;
}


/* ********** Footer ********** */
footer {
  background-color: var(--color);
  color: var(--accent);
  /* font-size: 0.8rem; */
  line-height: 1.5rem;
}

footer > h1 {
  text-align: center;
  /* fix for vertical rythm but it's broken now */
  /* margin-bottom: -1.1rem; */
}

footer > h3, footer h4 {
  font-family: "Fira sans";
  font-weight: 600;
  margin-bottom: -1.4rem;
}

footer p {
  text-align: left;
}

footer a {
  color: var(--accent);
}
.adress {
  font-family: "Fira mono";
}

#kontakt {
  display: none;
}

img {
  width: 100%;
  display: block;
  box-shadow: rgba(103,103,103,0.38) 0 0 6px 0;
}

.logo {
  max-height: 30vh;
  width: initial;
  margin: 1em auto;
  display: block;
  box-shadow: none;
}

header, footer {
  box-shadow: var(--color) 0px 0px 6px 0px;
}

header h1 {
  display: none;
}

header {
  background-color: var(--color);
}

/* ********** Media ********** */

/* Ãr det här nödvändigt? */
@media (max-width: 359px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 299px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer div {
    width: initial;
    flex-grow:;
    /* border-bottom: black solid 9px; */
  }

  footer p {
    width: initial;
  }

  nav {
    font-size: 2rem;
    margin: 1rem;
  }
  nav > a {
    font-size: 1.5rem;
  }

  p {
    max-width: 50ch;
  }


  article p {
    margin-left:  auto;
    margin-right: auto;
    /* margin: 1.5rem auto; */
  }

  article.action {
    margin-left: auto;
    margin-right: auto;
    max-width: 50ch;
  }

  .action p {
    margin-left: 0;
    margin-right: 0;
    margin-top: .25rem;
  }

  .styre {
    max-width: 30ch;
  }
}


@media (min-width: 900px) {

  header img {
    display: none;
  }

  header .logo {
    background-color: var(--color);
    padding: 1rem 1rem .3rem 1rem;
    border-radius: 30px 30px 0 0;
    max-height: 15vh;
    margin: 0;
  }

  header {
    background-image: url(../images/gsof-baloo.jpg);
    background-size: cover;
    height: 50vw;
    max-height: 70vh;
    background-position: center 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  header::before, header::after {
    content: "";
    display: block;
    height: 3.5rem;
    flex-grow: 3;
    background: var(--color);
  }

  nav {
    font-size: 1rem;
    margin: 0;
    padding-top: 1.2rem;
  }

  nav a {
    padding: 0 2rem .5rem 2rem;
  }

  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .description, .bodytext {
    flex-direction: column;
    margin: 1.5rem 0;
  }

  article > section {
  }

  .description > section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .description > section:nth-child(even) {
    flex-direction: row;
  }

  img {
    width: initial;
  }

  .insectionimg > img {
    max-width: 30ch;
  }

  footer {
    font-size: 0.75rem;
  }

  img {
    max-width: 65ch;
    height: auto;
    width: auto;
    margin: 0 auto;
  }

  main {
   display: flex;
   width: 100ch;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: center;
  }

  article > img {
    margin: 1rem 0;
  }

  article.action {
    display: block;
    max-width: 40ch;
    margin: 0 auto;
  }

  main > img {
    margin: 2rem 0 1.5rem 0;
    flex: 0 0 auto;
    align-self: center;
  }

  p.firstp:first-letter {
    line-height: .69em;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2em;
  }

  header .logo {
    max-height: 20vh;
  }
}

/* Styret display */
#styret {
  display: block;
}

#styret-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 65ch;
  justify-content: space-between;
}

.styre {
  margin: 0 auto;
  padding: 0 .5em;
}

.styre > p {
  padding: 0;
  margin-top: .5em;
}

.styre > img {
  display: none;
}

.styre .post, .styre .namn {
  display: block;
}

.styre .post {
  display: block;
  font-weight: 700;
}


.styre .namn {
  font-styel: italic;
  font-weight: 200;
}
