/* CSS for alliancen.se */

/* ********** Definitions ********** */

@font-face {
    font-family: 'English Towne';
    src: url('fonts/englishtowne-webfont.woff') format('woff'),
         url('fonts/englishtowne-webfont.ttf') format('truetype'),
         url('fonts/englishtowne-webfont.svg#EnglishTowneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400i&subset=latin-ext';


html {
  --color: rgb(119,38,191);
  --accent: rgb(253,191,45);
  --light: rgb(249,249,249);
  --dark: rgb(5,5,5);
  --link: var(--color);
}

/* ********** Basic ********** */
html {
  color: var(--dark);
  background-color: var(   --light);
  font-family:
  'Fira Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--accent);
}

/* ********** Nav ********** */
nav {
  padding: .3rem 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--color);
}

nav > a {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--accent);
  /* display: flex; */
  /* padding: 1rem; */
  /* flex-direction: row; */
  /* flex-grow: 3; */
}

.active {
  text-decoration: none;
}

/* ********** Headers ********** */
h1, h2, h3, h4 {
  font-family: 'English Towne', serif;
  font-weight: 500;
  /* color: var(--accent); */
  margin: 2rem 1rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h2 + p {
  margin-top: 0.5em;
}

h3 + p {
  margin-top: 0rem;
}

/* ********** Content ********** */
p {
  margin: 1rem 0 1rem 0;
  padding: 0rem 1rem .5rem 1rem;
  text-align: justify;
  /* text-indent: -2px; */
}

.description p:first-letter {
  font-family: "English towne";
  font-size: 4rem;
  float: left;
  line-height: 0.7em;
  margin: 0 0.1em 0 0;
}


/* ********** Footer ********** */
footer {
  background-color: var(--color);
  color: var(--accent);
  /* font-size: 0.8rem; */
  line-height: 1rem;
}

footer > h1 {
  text-align: center;
  /* width: 100%; */
  /* display: block; */
  /* font-size: 2.5rem; */
}

footer > h2, h3 {
  font-family: "Fira sans";
  font-weight: 600;
}

footer p {
  text-align: left;
}

footer a {
  color: var(--accent);
}
.adress {
  font-family: "Fira mono";
}

#kontakt {
  display: none;
}

img {
  width: 100%;
  display: block;
}

.logo {
  max-height: 30vh;
  width: initial;
  margin: 1em auto;
  display: block;
}

header > h1 {
  display: none;
}

header {
  background-color: var(--color);
}

/* ********** Media ********** */

@media (min-width: 600px) {
  footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer div {
    width: initial;
    flex-grow:;
  }

  footer p {
    width: initial;
  }

  nav {
    font-size: 2rem;
    margin: 1rem;
  }

  p {
    max-width: 50ch;
  }


  article p {
    margin-left:  auto;
    margin-right: auto;
    /* margin: 1.5rem auto; */
  }

  article.action {
    /* width: initial; */
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    max-width: 50ch;
  }

  .action p {
    margin-left: 0;
    margin-right: 0;
  }
}


@media (min-width: 1000px) {
  html {
    font-size: 1.2em;
  }

  header img {
    display: none;
  }

  header .logo {
    background-color: var(--color);
    padding: 1rem 1rem .3rem 1rem;
    /* border: black none; */
    border-radius: 50px  50px 0 0;
    /* flex-grow: 4; */
    max-height: 20vh;
    margin: 0;
  }

  header {
    background-image: url(../images/21.png);
    background-size: cover;
    height: 50vw;
    max-height: 50vh;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  header::before {
    content: "";
    display: block;
    height: 3rem;
    flex-grow: 3;
    background: var(--color);
    /* margin: 0; */
  }
 
  header::after {
    content: "";
    display: block;
    height: 3rem;
    flex-grow: 3;
    background: var(--color);
  }

  nav {
    /* flex-grow: 8; */
    font-size: 1rem;
    margin: 0;
    padding-top: 1.32rem;
  }

  nav a {
    padding: 0 2rem;
  }

  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width: 45rem; */
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .description {
    flex-direction: column;
    margin: 1rem 0;
    /* flex-shrink: 0; */
    /* flex-grow: 0; */
  }

  article > section{

    /* flex-shrink: 3; */
  }

  .description > section {
    display: flex;
    /* max-width: 45rem; */
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  section > img {
    max-width: 30ch;
  }
  
  footer {
    font-size: 0.75rem;
  }

  img {
    max-width: 65ch;
    margin: 0 auto;
  }

  main {
   display: flex;
   width: 100ch;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: center;
  }
  
  article > img {
    margin: 1rem 0;
  }

  article.action {
    display: block;
    max-width: 40ch;
    margin: 0 auto;
  }

  main > img {
    margin: 3rem 0;
  }

  .description p:first-letter {
    line-height: .69em;
  }

}
